# Core
langgraph
langchain-openai
openai
hdbscan
scikit-learn
numpy
psycopg2-binary
python-dotenv
tiktoken

# Crawler & Embedding
feedparser
requests
python-dateutil
trafilatura
tqdm
# selenium  # Optional
# webdriver-manager  # Optional

# Embedding Model (BGE-M3)
FlagEmbedding==1.2.5
transformers==4.36.0
sentence-transformers==2.2.2
# torch
lxml_html_clean
apache-airflow
apache-airflow-providers-standard
